
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %} - IoT Web Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %}Header{% endblock %}</h1>
        <nav>
            <ul>
                <li><a >Home Out</a>
                <li><a href="{{ url_for('auth.login') }}">Log In</a>
                <li><a >Register</a>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <p>Main content goes here.</p>
        {% endblock %}
    </main>
    <footer>
        <p>{% block footer %}Footer{% endblock %}</p>
    </footer>
</body>
</html>
