<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Title{% endblock %} - IoT Web Application</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header class="top-header">
        <h1>{% block header %}Manufacturing Line Capacity Prediction{% endblock %}</h1>

        <h2>{% block header2 %}{% if current_user.is_anonymous %}{% else %}Hello {{current_user.username}}{% endif %}{% endblock %}</h2>

        <nav class="topnav">

            <a href="/">Home</a>
            {% if current_user.is_anonymous %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% else %}
                <a href="/logout">Logout</a>
            {% endif %}
        </nav>
    </header>
    <main>
        {% block content %}
        <p>This is a machine learning program.
            The purpose of this web application is to use a machine learning algorithm to predict manufacturing line's capacity requirements.
            This is based on using existing data sets for free members, and adding custom data sets for premium members.
        </p>
        {% endblock %}
    </main>
    <footer>
        <div class="footer">
            <p>COSC 310 IoT Web Application 2024</p>
        </div>
    </footer>
</body>
</html>
