{% extends 'base.html' %}

{% block header %}
  <style>
    body {
        font-family: Arial, sans-serif;
    }
  </style>
  <h1>{% block title %}Log In User{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="post">
    {{ form.hidden_tag() }}

    <table style="display: inline;">
    <tr>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
        {% for error in form.username.errors %}
        <span style="color: rgb(16, 26, 206);">[{{ error }}]</span>
        {% endfor %}
    </tr>
    <tr>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </tr>
</table>
{% with messages = get_flashed_messages() %}
{% if messages %}
  <ul class=flashes>
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
{% endwith %}
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}
COSC 310 PROJECT