{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Home Page | Operations Optimization{% endblock %}</h1>
{% endblock %}

{% block content %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
  
  <form method="post">
    <label for="channel_id">Channel ID</label>
    <input name="channel_id" id="channel_id" required>
    <label for="field_id">Field ID</label>
    <input name="field_id" id="field_id" required>
    <label for="start_date">Start Date</label>
    <input type="text" name="start_date" id="start_date" placeholder="YYYY-MM-DD HH:MM:SS" pattern="\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}" required title="Date format should be YYYY-MM-DD HH:MM:SS">
    <label for="time_increment">Time Increment</label>
    <input name="time_increment" id="time_increment" required>
    <button type="submit">Get Data</button>
  </form>

  <div class="box">
    <select class="dropdown-list">
      <option value="option1" class="dropdown-option">Clear Outliers</option>
      <option value="option2" class="dropdown-option">Smooth</option>
      <option value="option3" class="dropdown-option">Both</option>
    </select>
  </div>
  <br>

  <form action="/upload" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file">
      <input type="submit" value="Upload">
  </form>


  <canvas id="lineChart" width="800" height="400"></canvas>
  <script> 
    var ctx = document.getElementById('lineChart').getContext('2d');
    var lineChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{labels | safe}},
        datasets: [{
          label: 'Sensor',
          data: {{values | safe}},
          borderColor: 'rgba(255, 99, 132, 1)',
          fill: false,
          borderWidth: 1
        }]
      },
      options: {
        responsive: false
      }
    });
  </script>
  {% endblock %}